# This file contains useful aliases to help you write less. 
# For example, instead of typing 'cd ..' you can set it here 
# to be '..'.

alias ll='ls -lah'
alias cls='clear'

alias ios_sim='open /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/Applications/iPhone\ Simulator.app/'
alias simulator_dir='cd ~/Library/Application\ Support/iPhone\ Simulator/'

alias show_invisibles='defaults write com.apple.finder AppleShowAllFiles -boolean true; killall Finder'
alias hide_invisibles='defaults write com.apple.finder AppleShowAllFiles -boolean false; killall Finder'

alias hideDashboard='defaults write com.apple.dashboard mcx-disabled -boolean YES; killall Dock;'
alias showDashboard='defaults write com.apple.dashboard mcx-disabled -boolean NO; killall Dock;'

alias removeDockTimeout='defaults write com.apple.dock autohide-time-modifier -float 0; killall Dock;'
alias addDockTimeout='defaults delete com.apple.dock autohide-time-modifier; killall Dock;'

alias restartADB="adb kill-server; adb start-server;"

alias addDockSeparator="defaults write com.apple.dock persistent-apps -array-add '{tile-data={}; tile-type=\"spacer-tile\";}';"